PORT=3000
API_TOKEN=change-me-generate-with-openssl-rand-hex-32
WG_INTERFACE=awg0
WG_CONFIG_PATH=/etc/amnezia/amneziawg/awg0.conf
SERVER_PUBLIC_IP=
SERVER_PORT=443
DNS_SERVER=10.0.0.1
AWG_LOCAL_PORT=51820
AWG_JC=
AWG_JMIN=
AWG_JMAX=
AWG_S1=
AWG_S2=
AWG_H1=
AWG_H2=
AWG_H3=
AWG_H4=
